<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> 
    <title>Change Password</title>
</head>
<body>
    <form action="/change_password" method="POST">
        <label for="current_password">Current Password:</label><br>
        <input type="password" id="current_password" name="current_password" required><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <input type="submit"  style="font-family: stardew, monospace;" value="Change Password">
    </form>
</body>
</html>
