<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> 
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input style="font-family: stardew, monospace;" type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input style="font-family: stardew, monospace;" type="password" id="password" name="password" required><br><br>
        <input style="font-family: stardew, monospace;" class="button" type="submit" value="Log In">
    </form>
</body>
</html>
